@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: #f5f5f5;
  --secondary: #0a0a0a;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--secondary);
  color: var(--primary);
  overflow-x: hidden;
}
body a{
  color: var(--primary);
}

body .menuBtn{
  fill : var(--primary)
}

body li{
  background-color: #202020;
}

.footer-div{
  border-top: 1px solid rgba(56, 56, 56, 1);
}


@media (prefers-color-scheme: dark) {
  body:not(.light) {
    background-color: var(--secondary);
    color: var(--primary);
  }
}

body.light{
  background-color: var(--primary);
  color: var(--secondary);
}
body.light a {
  color: var(--secondary);  
}

body.light .menuBtn {
  fill: var(--secondary);
}

body.light li{
    border: 1px solid #e6e6e6;
    box-shadow: 5px 5px 5px #e6e6e6;
    background-color: #f5f5f5;
}

body.light .footer-div{
  border-top: 1px solid rgba(229, 231, 235, 1);
}

h1 {
  font-size: 67.34px;
}

h2 {
  font-size: 35px;
}

a {
  text-decoration: none;
}
